<div class="about-wrapper">

	<h1>About Us</h1>

	 <!-- About Image -->
	<div class="about-img1">
		<img src="images/inside_store1.jpg">
	</div>
	<div class="about_p1">
		<p>
			Inside the heart of our bakery lies that heart of our industry. Our bread, customer centered staff, and love for our community are just a few key components of Gardino's Gourmet Soups and Sandwich Bakery. We take put care time and precison into each loaf of bread.
		</p>
		
	</div>

	<div class="about-img2">
		<img src="images/staff4.jpg">
	</div>	
	<div class="about_p2">
		<p>
			Here at Gardino's our staff are our prized possesions. Each staff is fully trained by our Gardino's Bakery head chef, Jeff Gardino. Upon completion of our 460 hour baking course, our chefs are each given a baking certification that must be renewed every two years. We take time in choosing our staff because here at Gardino's our staff are family. We treat all staff and their family to free meals from our bakery as well as the highest discounts on catering events. That is the secret to our company's 30 years of success!
		</p>
	</div>

</div>