<html>
<head>
	<title>Gardino's Gourmet Soup and Sandwiches</title>
</head>
<body>
<div class="header">
	<div class="navbar">

	<ul>
		<li>Menu</li>
		<li>Staff</li>
		<li>About</li>
		<li>Location</li>
	</ul>

	</div>
</div>
<div class="location-image">
</div>

<div class="about-image">
</div>

<div class="menu-image"  
</div>
</body>
</html>