<div class="home-wrapper">
  <div style="min-height: 50px;">
        <div id="slider1_container" class="slider1">
            <!-- Loading Screen -->
            <div class="loading1" u="loading">
                <div class="div1">
                </div>
                <div class="div2">
                </div>
            </div>
            <!-- Slides Container -->
            <div class = "slides1" u="slides">
            	<div><img u="image" src="/images/large_sandwich3.jpg" /></div>
    	        <div><img u="image" src="/images/large_salad3.jpeg" /></div>
            	<div><img u="image" src="/images/large_sandwich1.jpg" /></div>
		        <div><img u="image" src="/images/large_salad1.jpg" /></div>
		        <div><img u="image" src="/images/large_sandwich2.jpg" /></div>
		        <div><img u="image" src="/images/large_soup1.jpg" /></div>
		        <div><img u="image" src="/images/large_salad2.jpg" /></div>
            </div>        
            <div u="navigator" class="jssorb21 navigator1">
                <!-- bullet navigator item prototype -->
                <div u="prototype"></div>
            </div>

            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora21l leftarrow">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora21r rightarrow">
            </span>
        </div>
    </div>
</div>

    