<h1 class="index-title"> Gardino's Gourmet Soups and Sandwiches </h1>
<div class="home-wrapper">

  <div style="min-height: 50px;">
        <div id="slider1_container" class="slider1">
            <!-- Loading Screen -->
            <div class="loading1" u="loading">
                <div class="div1">
                </div>
                <div class="div2">
                </div>
            </div>
            <!-- Slides Container -->
            <div class = "slides1" u="slides">
            	<div><img u="image" src="/images/large_sandwich3.jpg" /></div>
    	        <div><img u="image" src="/images/large_salad3.jpeg" /></div>
    	        <div><img u="image" src="/images/large_pumpkin_spice.jpg" /></div> 
            	<div><img u="image" src="/images/large_sandwich1.jpg" /></div>
		        <div><img u="image" src="/images/large_salad1.jpg" /></div>
		        <div><img u="image" src="/images/large_sandwich2.jpg" /></div>
		        <div><img u="image" src="/images/large_soup1.jpg" /></div>
		        <div><img u="image" src="/images/large_salad2.jpg" /></div>
            </div>        
            <div u="navigator" class="jssorb21 navigator1">
                <!-- bullet navigator item prototype -->
                <div u="prototype"></div>
            </div>

            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora21l leftarrow">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora21r rightarrow">
            </span>
        </div>
    </div>
</div>

    <div class="index-content-wrapper">
    	<span class="staff_img">
    		<h3 class="h3_font">Community Bred Staff</h3>
    		<img src="images/staff3.jpg">
    	</span>
    	<span class="sandwich_img">
    		<h3 class="h3_font">Freshly Baked Sandwiches</h3>
    		<img src="images/sandwich6.jpg">
    	</span>
    	<span class="soup_img">
    		<h3 class="h3_font">Best Soups in Town</h3>
    		<img src="images/soup5.jpeg">
    	</span>
    	<span class="location_img">
    		<h3 class="h3_font"> Locations Near You</h3>
    		<img src="images/panera_store3.jpg">
    	</span>
    
    </div>



    