<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
<link href="/css/style.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/jssor.slider.mini.js"></script>
<script src="/js/js_jquery.js"> </script>

</head>

<body>

	<%
		nav = ["Home", "Menu", "Staff", "Location", "About"] 
		pages = ["/", "menu", "staff", "location", "about"] 
	%>
	<div class="navbar-across">
		<ul style="list-style-type: none; padding-left: 0">

		<!-- start ruby -->	
		<% nav.each_with_index do |nav_item, nav_index| %>
			<li class="nav-bar-text">
				<a href="<%= pages[nav_index] %>">
					<%= nav_item %>
				</a>	
			</li>
		<% end %>
		<!-- end ruby -->

		</ul>
	</div>
	<!-- start ruby -->
	<%= yield %>	
	<!-- end ruby -->




	<footer class="footer">
	 	<p class="footer-text">
	 		&copy 2015 Bergandino, Kuoch, Bartley
	 	</p>
	</footer>
</body>
</html>