<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/pushy.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>

	<%
		nav = ["Home", "Menu", "Staff", "Location", "About"] 
		pages = ["/", "menu", "staff", "location", "about"] 
	%>

	<!-- Pushy Menu -->
	<nav class="pushy pushy-left">
	    <ul style="list-style-type: none; padding-left: 0">

		<!-- start ruby -->	
		<% nav.each_with_index do |nav_item, nav_index| %>
			<li class="nav-bar-text">
				<a href="<%= pages[nav_index] %>">
					<%= nav_item %>
				</a>	
			</li>
		<% end %>
		<!-- end ruby -->

		</ul>
	</nav>

	<!-- Site Overlay -->
	<div class="site-overlay"></div>

	<!-- Your Content -->
	<div id="container">
	    <!-- Menu Button -->
	    <div class="menu-btn">&#9776;</div>
<!-- 	    <div id="nav-icon1" class="menu-btn">
		  <span></span>
		  <span></span>
		  <span></span>
		</div> -->
	</div>






	<div class="navbar-across">
		
	</div>
	<!-- start ruby -->
	<%= yield %>	
	<!-- end ruby -->




	<footer class="footer">
		<div class="footertop">
		 	<a href="https://www.facebook.com/Gardinos-Restaurant-270693946332834/timeline/" target="_blank"><img class="icon icon_facebook" src="images/fbicon.png" alt="facebook_icon" /></a>
		 	<a href="https://twitter.com/hashtag/gardinos" target="_blank"><img class="icon icon_twitter" src="images/twicon.png" alt="twitter_icon" /></a>
		 	<a href="https://instagram.com/explore/tags/gardinos/" target="_blank"><img class="icon icon_instagram" src="images/instaicon.png" alt="instagram_icon" /></a>
		</div>
	 	<nav class="footnav">
	 		<ul>
	 			<li><a href="http://panera.custhelp.com/" target="_blank">CONTACT</a></li>
	 			<li>|</li>
	 			<li><a href="http://pinterest.com/panerabread/" target="_blank">BLOG</a></li>
	 			<li>|</li>
	 			<li><a href="https://cater.panerabread.com/" target="_blank">CATERING</a></li>
	 			<li>|</li>
	 			<li><a href="https://delivery.panerabread.com/ordering-webapp/" target="_blank">DELIVERY</a></li>
	 		</ul>	
	 	</nav>
	</footer>

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
	<script src="/js/js_jquery.js"> </script>
    <script src="/js/jquery-1.9.1.min.js"></script>

	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>

	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/js/ie10-viewport-bug-workaround.js"></script>
	<script src="/js/jssor.slider.mini.js"></script>
	<script src="/js/pushy.min.js"></script>
</body>
</html>















