<div class="location-wrapper">
	<h1 class="header-h1">Locations</h1>

	<!-- Location Image -->
	<div class="img_frame">
		<div class="panera_img">
			<img src="images/panera_store1.jpg">
		</div>
		<div class="panera_img">
			<img src="images/panera_store2.jpg">
		</div>
		<div class="panera_img">
			<img src="images/panera_store3.jpg">
		</div>
	</div>

		<div class="location_dialogue">
			Here at Gardino's, we take pride in the quality of our food. That pride extends to each of our locations nested in the heart our local commmunity. At Gardino's we aren't just a food brand, we're a family. 

			Our locations can be found at Willow Grove Mall, King of Prussia Mall, and The Hub City View.

			Feel free to join us and taste the difference quality makes.
		</div>
		<div align="center" style="padding: 15px"><iframe class="Google" src="https://www.google.com/maps/d/embed?mid=zp2oYcPvTXkU.k61npY47fDhU" align="middle" width="70%" height="480"></iframe></div>

</div>