<div class="menu-wrapper">

	<h1>Our Menu</h1>

	 <!-- Menu Image -->
	<div class="menu-image"></div>

	<div class="content-wrapper">
		<img class="sandwhich1"src="images/sandwich1.jpg">
		<img src="images/sandwich2.jpg">
		<img src="images/sandwich3.jpeg">
		<img src="images/sandwich4.jpeg">
	</div>

	<div class="soups">
		<img src="images/soup1.jpeg">
		<img src="images/soup2.jpeg">
		<img src="images/soup3.jpeg">
		<img src="images/soup5.jpeg">
	</div>
		

</div>