<div class="menu-wrapper">

	<h1>Our Menu</h1>

	 <!-- Menu Image -->
	<div class="menu-image-container"></div>

	<div class="content-wrapper">
		<img src="http://i.imgur.com/APdp4qA.jpg" />
	</div>
</div>