<div class="menu-wrapper">

	<h1>Our Menu</h1>

	 <!-- Menu Image -->
	
	<div class="sandwiches">
		<div class="sw1">
			<h3>Delicious Deli Platters</h3>
			<img src="images/sandwich1.jpg" height="350" width="250">
		</div>
		<div class="sw2">
			<h3>Swiss on Wheat</h3>
			<img src="images/sandwich2.jpg" height="250" width="250">
		</div>
		<div class="sw3">
			<h3> Monterray Ham & Cheddar</h3>
			<img src="images/sandwich3.jpeg" height="250" width="250">
		</div>
		<div class="sw4">
			<h3>Classic Grill Cheese</h3>
			<img src="images/sandwich4.jpeg" height="250" width="250"> 
		</div>
		
	</div>

	<div class="soups">
		
		<div class="sp1">
			<h3>Clam Chowder Soup</h3>
			<img src="images/soup1.jpeg" height="250" width="250">
		</div>
		
		<div class="sp2">
			<h3>Three Bean Soup</h3>
			<img src="images/soup2.jpeg" height="250" width="250">
		</div>
		
		<div class="sp3">
			<h3>Classic Tomato Soup</h3>
			<img src="images/soup3.jpeg" height="250" width="250">
		</div>
		
		<div class="sp4">
			<h3>Potatoe Cheese Soup</h3>
			<img src="images/soup5.jpeg" height="250" width="250">
		</div>
	</div>

	<div class="salads">
		<div class="sd1">
			<h3>Garden Style Salad</h3>
			<img src="images/large_salad1.jpg" height="250" width="250">
		</div>
		<div class="sd2">
			<h3>Greek Salad</h3>
			<img src="images/large_salad2.jpg" height="250" width="250">
		</div>
		<div class="sd3">
			<h3>Tropical Salad</h3>
			<img src="images/large_salad3.jpeg" height="250" width="250">
		</div>

	</div>
</div>