<div class="staff-wrapper">
	
	<h1 class="staff_title">Our  Exceptional Staff</h1>
</div>

<div class="content-wrapper">
	<div class="chef1">
		<img class="chef_1" src="images/chef1.jpg" width="100%" height="700">

	</div>
	<div class="chef-p1">
		<p>
			<strong><h4>Each staff is fully trained by our Gardino's Bakery head chef, Jeff Gardino. Upon completion of our 460 hour baking course, our chefs are each given a baking certification that must be renewed every two years. We take time in choosing our staff because here at Gardino's our staff are family.</h4></strong>
		</p>
	</div>
	
</div>

