 /* Main Layout ERB */

html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #faebd7;
}

.home-wrapper {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #faebd7;
}


/*  Navigation Bar */

.nav-bar-text {
	display: inline-block;
}

.navbar-across {
	width: 100%;
	background-color: red;
}


/*  Footer Bar */

.footer {
	width: 100%;
	margin: 0 auto;
	/*height: 100px;*/
}

.footer-text {
	text-align: center;
	margin: 0;
}

/* Home Page */

.home-wrapper {

}

/* Home Page Picture Carousel */

/* jssor slider arrow navigator skin 03 css */
/*
.jssora03l              (normal)
.jssora03r              (normal)
.jssora03l:hover        (normal mouseover)
.jssora03r:hover        (normal mouseover)
.jssora03ldn            (mousedown)
.jssora03rdn            (mousedown)
*/
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(/images/a11.png) no-repeat;
    overflow:hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03ldn { background-position: -243px -33px; }
.jssora03rdn { background-position: -303px -33px; }

.slider1_container {
	width: 100%;
	display: block;
}


/*.slide1 {
	width: 100%;
	height: 500px;
	background-image: url(/images/large_salad1.jpg);
}

.slide2 {
	width: 100%;
	height: 500px;
	background-image: url(/images/large_salad2.jpg);
}*/

.home-pic {
/*	width: 100%;
	height: 100%;*/
}

/* Location Page */

.location-content {
	border-color: black:2px:solid;
	margin: 0,10,10,10;
}

.location-wrapper {

}


/* Staff Page */

.staff-wrapper {

}


/* About Page */

.about-wrapper {

}


/* Menu Page */

.menu-wrapper {

}



































