html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #faebd7;
}

<<<<<<< HEAD
.location-content {
	border-color: black:2px:solid;
	margin: 0,10,10,10;
}






=======
.wrapper {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #faebd7;

}
>>>>>>> b6694e133c5897beacd918f6e30013c1d3ff8505

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	/*height: 100px;*/
}

.footer-text {
	text-align: center;
	margin: 0;
}

.nav-bar-text {
	display: inline-block;
}

.navbar-across {
	width: 100%;
	background-color: red;
}